.haircut-items {
  @extend %flexbox;
  @extend %text-align-left;
  @include flex-wrap(wrap);
  @include justify-content(left);
  margin-left: -2%;
}

.haircut-item {
  @extend %background-white;
  @include rem(padding-bottom, 45px);
  @include rem(margin-bottom, 36px);
  @include material-shadow(1);
  border-radius: 2px;
  color: $black;
  margin-left: 2%;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  width: 23%;

  @include hover {
    @include transition(box-shadow 0.2s ease-in-out);

    &:hover {
      @include material-shadow(3);
      text-decoration: none;
    }
  }

  .authenticated-admin & {
    @include transition(none);

    &:hover {
      @include material-shadow(1);
    }
  }
}

.haircut-item__img-wrap {
  @extend %background-dkblue;
  display: block;
  height: 0;
  overflow: hidden;
  padding-bottom: 2 / 3 * 100%;
  position: relative;
  width: 100%;
}

.haircut-item__img {
  @extend %display-block;
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.haircut-item__current-bid {
  @extend %color-white;
  @extend %text-align-left;
  @include transform(translateY(-100%));
  background: asset-url('haircut_bid_gradient.png') 0 0 repeat-x;
  background-size: 2px 60px;
  font-weight: bold;
  height: 60px;
  left: 0;
  line-height: 4.5;
  padding-left: 1rem;
  position: absolute;
  top: auto;
  width: 100%;

  @include retina {
    background-image: asset-url('haircut_bid_gradient@2x.png');
  }
}

.haircut-item__body {
  @include padding(0, 16px, 20px);
  @include font-size(14px);
}

.haircut-item__name {
  font-weight: 400;
}

.haircut-item__links {
  @extend %text-align-center;
  @include rem(height, 45px);
  @include rem(line-height, 45px);
  @include padding(0, 8px);
  border-top: solid 1px $lt_gray_alt;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.admin-haircut-link {
  @extend %float-left;
  width: 33.33333333333333%;
}

.make-a-bid {
  color: $red;

  .bidding-over & {
    display: none;
  }
}

.make-a-bid--over {
  display: none;

  .bidding-over & {
    display: block;
  }
}

.make-a-bid__user,
.make-a-bid__anonymous {
  display: none;
}

.authenticated .make-a-bid__user {
  display: block;
}

.anonymous .make-a-bid__anonymous {
  display: block;
}

.dollar-symbol {
  @include rem(line-height, 40px);
  @include rem(left, 24px);
  position: absolute;
  z-index: 99;
}

.bid-amount {
  @include rem(padding-left, 20px);
}

.bid-errors {
  @extend %display-block;
  @include rem(margin-bottom, 16px);
  color: $red;
}

.bid-error {
  @extend %display-block;
}
