.haircut-items {
  @extend %flexbox;
  @extend %text-align-left;
  @include flex-wrap(wrap);
  @include justify-content(left);
  margin-left: -3%;
}

.haircut-item {
  @extend %background-white;
  @include rem(padding-bottom, 45px);
  @include rem(margin-bottom, 36px);
  border-bottom: solid 2px darken($lt_gray, 10%);
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
  margin-left: 3%;
  position: relative;
  width: 22%;
}

.haircut-item__img_wrap {
  @extend %background-dkblue;
  height: 0;
  overflow: hidden;
  padding-bottom: 2 / 3 * 100%;
  position: relative;
  width: 100%;
}

.haircut-item__img {
  @extend %display-block;
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.haircut-item__current-bid {
  @extend %color-white;
  @extend %text-align-right;
  background: asset-url('haircut_bid_gradient.png') 0 0 repeat-x;
  background-size: 2px 60px;
  font-weight: bold;
  height: 60px;
  left: 0;
  margin-top: -60px;
  padding-right: 8px;
  padding-top: 30px;
  position: absolute;
  top: auto;
  width: 100%;

  @include retina {
    background-image: asset-url('haircut_bid_gradient@2x.png');
  }
}

.haircut-item__body {
  @include padding(0, 8px, 20px);
  @include font-size(14px);
}

.haircut-item__links {
  @extend %text-align-center;
  @include rem(height, 45px);
  @include rem(line-height, 45px);
  @include padding(0, 8px);
  border-top: solid 1px $lt_gray_alt;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.admin-haircut-link {
  @extend %float-left;
  width: 33.33333333333333%;
}

.dollar-symbol {
  @include rem(line-height, 40px);
  @include rem(left, 24px);
  position: absolute;
  z-index: 99;
}

.bid-amount {
  @include rem(padding-left, 20px);
}

.bid-errors {
  @extend %display-block;
  @include rem(margin-bottom, 16px);
  color: $red;
}

.bid-error {
  @extend %display-block;
}
