.haircut-info {
  @extend %background-ltgray;
}

.haircut-info__learn-more-button {
  @extend %float-left;
  @include rem(margin-top, 24px);
}

.haircut-info__inner-wrap {
  @extend %clearfix;
}

.haircut-info__img {
  @extend %float-right;
  @include rem(margin-left, 81px);
  @include rem(margin-bottom, 36px);
  border-radius: 150px;
}

.haircuts {
  @extend %background-ltgray;
  @extend %text-align-center;
}

.search-and-filter {
  @extend %background-white;
  @extend %text-align-center;
}

.haircut-filters {
  @include rem(margin-bottom, 24px);
}

.filter-text {
  @include rem(margin-right, 8px);
}

.search-wrapper {
  @include rem(margin-right, 16px);
}

.search-label {
  @include rem(line-height, 39px);
}

.search-icon {
  @include rem(margin-right, -30px);
  @include rem(margin-left, 10px);
  color: darken($lt_gray, 20%);
  position: relative;
}

.search-input {
  @include rem(padding-left, 36px);
  width: 480px;
}

.search-label,
.search-wrapper,
.search-button {
  @extend %display-inline-block;
}

.successful-bid {
  @extend %background-blue;
  @extend %color-white;
  @extend %display-inline-block;
  @extend %text-align-left;
  @include padding(16px);
  @include rem(margin-bottom, 45px);
  background: rgba($blue, 0.95);
  cursor: pointer;
  position: relative;
  max-width: 768px;
  width: 100%;

  &:after {
    @extend %text-align-center;
    background: $dk_blue;
    content: "\00D7";
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: -4px;
    top: -4px;
    width: 20px;
  }

  @include hover {
    @include opacity(0.85);
  }
}

#close_successful_bid {
  @extend %visuallyhidden;

  &:checked + .successful-bid {
    display: none;
  }
}

.paginate-wrapper {
  @extend %text-align-center;
}

.pagination {
  @extend %display-inline-block;
  color: darken($gray, 10%);
  margin: 0 auto;
}

.pagination-link,
.pagination-span.current,
.pagination-span.no-link,
.pagination-span.gap {
  @extend %float-left;
  @include padding(6px, 12px);
}

.pagination-span.next,
.pagination-span.prev {
  @extend %float-left;
}

.pagination-span.current,
.pagination-span.gap {
  @extend %float-left;
}

.pagination-span.prev {
  margin-right: 1px;
}

.pagination-span.next {
  margin-left: 1px;
}

.show-haircut {
  height: auto;
  left: 50%;
  margin-left: -200px;
  width: 400px;
}

.show-haircut__info,
.show-haircut__bid-form {
  @extend %float-left;
  width: 100%;
}

.show-haircut__info {
  @include rem(margin-bottom, 16px);
  position: relative;
}

.show-haircut__img {
  @extend %display-block;
}

.show-haircut__name {
  @extend .haircut-item__current-bid;
  @include rem(padding-left, 8px);
  max-width: 364px;
  text-align: left;
}

.show-haircut__bid-form {
  .text-input {
    @include rem(margin-bottom, 16px);
    width: 100%;
  }

  .button {
    width: 100%;
  }
}

.show-haircut__name {
  @extend %color-white;
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 100%;
}

.show-haircut__current-bid {
  margin-top: 0;
}

.haircuts__show-all {
  @extend %display-block;
  @extend %text-align-center;
}


// Admin show and bids
.admin-show-haircut {
  @extend %background-ltgray;
}

.admin-show-haircut__info {
  @extend %display-inline-block;
  @extend %text-align-left;
  max-width: 356px;
  padding-right: 45px;
  vertical-align: top;
}

.admin-show-haircut__img {
  @extend %display-block;
  height: auto;
  max-width: 100%;
}

.admin-show-haircut__bids {
  @extend %display-inline-block;
  vertical-align: top;
}

.admin-bids,
.user-bids {
  @extend %text-align-center;
}

.admin-bids__table,
.user-bids__table {
  margin: 0 auto;
}

.admin-show-haircut__table,
.admin-bids__table,
.user-bids__table {
  @extend %background-white;
  @extend %text-align-left;
  border-bottom: solid 2px darken($lt_gray, 10%);
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.admin-show-haircut__bids-header,
.admin-bids__bids-header,
.user-bids__bids-header {
  @extend %background-dkblue;
  @extend %color-white;
}

.admin-show-haircut__bids-row,
.admin-bids__bids-row,
.user-bids__bids-row {
  &:nth-child(2n) {
    @extend %background-white;
  }

  &:nth-child(2n+1) {
    background: $lt_gray;
  }

  &.is-top-bid {
    font-weight: bold;

    & .delete-bid {
      font-weight: 300;
    }
  }
}

.admin-show-haircut__bid-column,
.admin-bids__bid-column,
.user-bids__bid-column {
  @include padding(16px);
}

.user-bids__bid-column {
  position: relative;
}

.user-bids__bid-column.current-top-bid:before {
  @extend %background-blue;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
}

.user-bids__info {
  @include rem(padding-bottom, 36px);
}

.blue {
  border-bottom: solid 2px $blue;
}


// Admin edit & new
.new-haircut,
.edit-haircut {
  @extend %background-ltgray;
  @extend %text-align-center;
}

.edit-haircut__inner-wrapper,
.new-haircut__inner-wrapper {
  @extend .sign-in__inner-wrapper;
  @include rem(padding-bottom, 36px);

  .input {
    @extend %float-left;
    @include rem(margin-bottom, 16px);
    clear: both;
  }

  .text-label {
    @extend %display-block;
    @extend %text-align-left;
  }
}

.upload-haircut-image,
.upload-haircut-image--edit {
  @extend %float-left;
  @include rem(margin-bottom, 16px);
  clear: both;
  max-width: 320px;
  width: 100%;
}

.upload-haircut-image__label {
  @extend %display-block;
  @extend %text-align-left;
  @include rem(margin-bottom, 6px);
}

.upload-haircut-image__input {
  line-height: 1;
}

.button--save-haircut,
.button--create-haircut {
  @extend %float-left;
  @include rem(margin-top, 16px);
  clear: both;
  width: 100%;
}

.edit-photo {
  @extend %float-left;
  @include rem(margin-bottom, 16px);
  clear: both;
  max-width: 320px;
  width: 100%;
}

.current-photo {
  max-width: 320px;
  width: 100%;
}

.crop-photo,
.upload-haircut-image--edit,
.edit-photo__cancel {
  display: none;
}

.edit-photo__links {
  @include rem(margin-top, 4px);
}

.edit-photo__new,
.edit-photo__crop,
.edit-photo__cancel {
  @extend %display-block;
  @extend %float-left;
  clear: both;
}
