.home-banner {
  @extend %clearfix;
  @extend %text-align-center;
  @extend %color-white;
  @include rem(padding-top, 81px);
  background: $red image-url('haircut_background.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;

  .container--small {
    @include rem(padding-top, 24px);
  }
}

.home-banner__h1 {
  margin-bottom: 0;
}

.home-banner__p {
  margin-bottom: 0;
}

.home-haircuts {
  @extend %background-ltgray;
}

.button--see-all-members {
  @include rem(margin-top, 45px);
  max-width: 410px;
  width: 100%;
}
