.home-banner {
  @extend %clearfix;
  @extend %text-align-center;
  @extend %color-white;
  @include rem(padding-top, 81px);
  background: $red;
  position: relative;
  width: 100%;

  .container {
    @include rem(padding-top, 24px);
    padding-bottom: 0;
  }
}

.home-bg {
  @include use-gpu;
  @include transition(all 0.3s ease-in-out);
  background: $red image-url('haircut_background.jpg') center center no-repeat;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 0;

  @include background-size(cover);

  &.visible {
    opacity: 1.0;
    visibility: visible;
  }
}

.home-banner__h1 {
  margin-bottom: 0;
  margin-top: 0;
}

.home-banner__h3 {
  font-weight: 300;
  margin: 0;
}

.home-banner__p {
  margin: 0 auto;
}

.sponsors {
  @extend %text-align-right;
  @include rem(margin-top, 45px);
  position: relative;
}

.sponsor-heading {
  @include rem(margin-bottom, 4px);
  font-weight: 300;
  margin-top: 0;
}

.home-haircuts {
  @extend %background-ltgray;
}

.button--see-all-members,
.button--about {
  @include rem(margin-top, 24px);
  max-width: 410px;
  width: 100%;
}
