.main-header--home {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.main-header {
  border-bottom: solid 1px $lt_gray_alt;
}

.main-nav {
  @extend %clearfix;
  @extend %text-align-center;
}

.main-nav__site-links {
  @extend %float-left;
  @extend %text-align-left;
}

.main-nav__user-links {
  @extend %float-right;
  @extend %text-align-right;
}

.main-nav__site-link,
.main-nav__user-link {
  @include line-height(101.135px);
  color: $dk_blue;
  text-decoration: none;

  .main-header--home & {
    @extend %color-white;
  }
}

.main-nav__site-link {
  @extend %display-inline-block;
  @include rem(margin-right, 24px);
  vertical-align: middle;
}

.main-nav__user-link {
  @include rem(margin-left, 24px);
}

.main-nav__site-link--logo {
  @extend %bold;
  @include font-size(32px);
}

.site-nav {
  @extend %text-align-center;
  @include transition(all, 0.3s, ease-in-out);
  @include transform(scale(0.9) translate3d(0,-200px,0));
  @include opacity(0);
  background: $dk_blue;
  display: table;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 99;

  &.open {
    @include transform(scale(1) translate3d(0,0,0));
    @include opacity(1.0);
    opacity: 1.0;
    visibility: visible;
  }
}

.site-nav__inner-wrap {
  display: table-cell;
  vertical-align: middle;
}

.site-nav__close {
  @include rem(right, 36px);
  @include rem(top, 16px);
  @include font-size(54px);
  @include transition(color, 0.2s, ease-in-out);
  color: lighten($dk_blue, 50%);
  line-height: 1;
  position: absolute;

  @include hover {
    @extend %color-white;
    text-decoration: none;
  }
}

.site-nav__li {
  @extend %display-block;
  @include rem(margin-top, 32px);
  @include rem(margin-bottom, 32px);
}

.site-nav__link {
  @extend %color-white;
  @include font-size(36px);
  @include transition(color, 0.2s, ease-in-out);

  @include hover {
    color: lighten($dk_blue, 50%);
    text-decoration: none;
  }
}
