#nprogress {
  position: relative;
  z-index: 1001;
}

.main-header--home {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  .bidding-over & {
    @include rem(top, 56px);
  }
}

.main-header {
  border-bottom: solid 1px $lt_gray_alt;
}

.main-nav {
  @extend %clearfix;
  @extend %text-align-center;
}

.main-nav__site-links {
  @extend %float-left;
  @extend %text-align-left;
}

.main-nav__user-links {
  @extend %float-right;
  @extend %text-align-right;
  position: relative;
}

.main-nav__site-link,
.main-nav__user-link {
  @include line-height(101.135px);
  color: $dk_blue;
  text-decoration: none;

  .main-header--home & {
    @extend %color-white;
  }
}

.main-nav__site-link {
  @extend %display-inline-block;
  @include rem(margin-right, 24px);
  vertical-align: middle;
}

.main-nav__user-link {
  @include rem(margin-left, 24px);
}

.main-nav__site-link--logo {
  @extend %bold;
  @include font-size(32px);
}

.site-nav {
  @extend %text-align-center;
  @include transition(all, 0.3s, ease-in-out);
  @include transform(scale(0.95) translate3d(0,-5%,0));
  @include opacity(0);
  background: $dk_blue;
  display: table;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 999;

  &.open {
    @include transform(scale(1) translate3d(0,0,0));
    @include opacity(1.0);
    opacity: 1.0;
    visibility: visible;
  }
}

.site-nav__inner-wrap {
  display: table-cell;
  vertical-align: middle;
}

.site-nav__close {
  @include rem(right, 36px);
  @include rem(top, 16px);
  @include font-size(54px);
  @include transition(color, 0.2s, ease-in-out);
  color: lighten($dk_blue, 50%);
  line-height: 1;
  position: absolute;

  @include hover {
    @extend %color-white;
    text-decoration: none;
  }
}

.site-nav__li {
  @extend %display-block;
  @include rem(margin-top, 24px);
  @include rem(margin-bottom, 24px);
}

.site-nav__link {
  @extend %color-white;
  @include font-size(30px);
  @include transition(color, 0.2s, ease-in-out);

  @include hover {
    color: lighten($dk_blue, 50%);
    text-decoration: none;
  }
}

.user-nav {
  @extend %background-blue;
  @extend %text-align-left;
  @extend %transition-all;
  @include padding(12px, 16px);
  @include opacity(0);
  @include rem(top, 68px);
  @include rem(left, 24px);
  border-radius: 4px;
  position: absolute;
  visibility: hidden;
  z-index: 99;

  &.open {
    @include opacity(1.0);
    visibility: visible;
  }

  &:before {
    border-bottom: solid 8px $blue;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -8px;
    position: absolute;
    top: -8px;
    width: 0;
  }
}

.user-nav__link {
  @extend %color-white;
  @extend %display-block;
  @include rem(margin-top, 4px);
  @include rem(margin-bottom, 4px);
}
