<section class="bidding-info" data-turbolinks-permanent>
  <div class="container">
    <div class="bidding-total">
      <h5 class="bidding-total__h5">Raised:</h5>
      <div class="bidding-total__sum">
        <i class="ion-medkit bidding-info__icon"></i>
        <span class="bidding-total__text">$0.00</span>
      </div>
    </div>
    <div class="bidding-time-remaining">
      <h5 class="bidding-time-remaining__h5">Bidding Ends:</h5>
      <div class="bidding-time-remaining__time">
        <i class="ion-clock bidding-info__icon"></i>
        <span class="time-left time-left--days">00</span>
        <span class="time-left-separator">:</span>
        <span class="time-left time-left--hours">00</span>
        <span class="time-left-separator">:</span>
        <span class="time-left time-left--minutes">00</span>
      </div>
    </div>
    <div class="bidding-count">
      <h5 class="bidding-count__h5">Unique Bids:</h5>
      <div class="bidding-count__sum">
        <i class="ion-earth bidding-info__icon"></i>
        <span class="bidding-count__text">0</span>
      </div>
    </div>
  </div>
</section>
