<div class="venue-change" id="venue_change">
  <div class="container container--no-padding">
    <p class="venue-change__p">
      Welcome back <%= first_name(current_user.name) %>! Just a quick update for
      you: <br><strong>Thursday, May 1st's dance competition will now be taking
      place in the Modern Languages room 350.</strong>
    </p>
  </div>
  <%= link_to "&times;".html_safe, '#',
        data: { post_href: close_venue_notice_path(current_user) },
        class: 'close-venue-change', id: 'close_venue_change' %>
</div>

<%= content_for :javascript do %>
  <%= javascript_tag 'new CutTheChi.CloseVenueNotice()' %>
<% end %>
