<p>
  The hair cutting will commence on <u>Friday, May 2nd</u> at
  the <u>Theta Chi house</u> from <u>4&ndash;7pm</u>
  and will feature a live DJ and hairstylists from <a
  href="http://samhughes.toniguy.com/">Toni & Guy</a> for more intricate
  haircutting help. Once you bid, you commit to showing up to the event
  with cash, check, or credit card ready to pay for your bid.
</p>
