<% meta title: "All Bids | Cut the Chi | Theta Chi at University of Arizona" %>

<section class="all-bids">
  <div class="container">
    <% if admin_signed_in? %>
      <%= render partial: "admin_bids" %>
    <% elsif user_signed_in? %>
      <%= render partial: "user_bids" %>
    <% end %>
  </div>
</section>
