<section class="home-banner" role="banner">
  <div class="container container--small">
    <%= image_tag "cutthechi.svg", width: "341", height: "182",
        onerror: "this.onerror=null; this.src='/assets/cutthechi.png'",
        alt: "Cut the Chi" %>
    <h1 class="home-banner__h1">It's time to Cut the Chi.</h1>
    <p class="home-banner__p">
      Let's cut to the chase. It's U of A Theta Chi's annual philanthropy
      event. We provide the hair and you provide the cut... and the money too.
      But it all goes to a good cause. We're supporting brain tumor research,
      and when you bid you'll be supporting it too. You'll be our 'mane'
      associates in the fight against cancer. That's right, give a guy a funny
      haircut and give cancer the ol' one, two. You don't have to be Sherlock
      Combs to deduce that this is a great thing, so play your part.
    </p>
  </div>
</section>

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<p>
  <% @haircuts.each do |haircut| %>
    <%= render partial: "/haircuts/haircut", locals: { haircut: haircut } %>
  <% end %>
</p>
