development:
  adapter: mysql2
  database: for_kevin_dev
  pool: 5
  timeout: 5000

test:
  adapter: mysql2
  database: for_kevin_test
  pool: 5
  timeout: 5000

production:
  adapter: mysql2
  encoding: utf8
  database: DATABASE
  username: USERNAME
  password: PASSWORD
  host: HOST
  pool: 5
