.container {
  @extend %clearfix;
  @include padding(68px, 0);
  margin: 0 auto;
  max-width: 1152px;
  width: 100%;
}

.container--small {
  max-width: 768px;
}

.container--short {
  @include padding(36px, 0);
}

.container--no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.container--no-top-padding {
  padding-top: 0;
}

.heading {
  margin-top: 0;
}

.heading--small {
  max-width: 320px;
}

.heading--center {
  @extend %text-align-center;
}

.subheading {
  @extend %display-block;
  @include font-size(16px);
}

.subhead {
  @include font-size(16px);
  @include rem(margin-top, -8px);
  display: block;
}

.visually-hidden {
  @extend %visuallyhidden;
}

.center-text {
  @extend %text-align-center;
}
