.icon {
  font-style: normal;
  margin-right: 0.35em;
}

.icon--right {
  margin-left: 0.35em;
}

.icon--spaced {
  margin-right: 0.85em;
}

.icon-large {
  font-size: 1.5em;
  position: relative;
  top: 0.1em;
}

.see-more-icon {
  @extend %text-align-center;
  @include font-size(36px);
  @include rem(padding-top, 36px);
  clear: both;
  display: block;
}