.text-input {
  @include rem(padding, 8px);
  border: solid 1px darken($lt_gray, 10%);
  color: $dk_blue;
  min-width: 320px;

  &:focus {
    border-color: $blue;
    outline: 0;
  }

  .field_with_errors & {
    border: solid 1px $red;
  }
}

.button-wrapper {
  @extend %clearfix;
  @extend %text-align-center;
  display: block;
}

.button {
  @extend %color-white;
  @extend %background-blue;
  @extend %text-align-center;
  @include padding(8px, 16px);
  border: none;
  border-radius: 4px;

  transition: all 0.2s ease-in-out;

  @include hover {
    background: lighten($blue, 10%);
    text-decoration: none;
  }
}

.lg-button {
  @extend .button;
  @include padding(16px, 36px);
  display: block;
  margin: 0 auto;
}

.alert-error {
  @include rem(margin-bottom, 16px);
}

.field_with_errors {
  @include rem(padding-top, 24px);
  position: relative;
}

.error {
  @include font-size(14px);
  color: $red;
  left: 0;
  position: absolute;
  top: 0;
}
