.text-input,
.text-input--no-placeholder {
  @include rem(padding, 8px);
  border: solid 1px darken($lt_gray, 10%);
  color: $dk_blue;
  max-width: 100%;
  min-width: 320px;

  &:focus {
    border-color: $blue;
    outline: 0;
  }

  .field_with_errors & {
    border: solid 1px $red;
  }
}

.input {
  position: relative;
}

[required] {
  &::-webkit-input-placeholder:after {
    content: " *";
    color: lighten($red, 25%);
    font-size: 0.9em;
    padding-left: 2px;
  }

  &:-moz-placeholder:after {
    content: "*";
    color: lighten($red, 25%);
    font-size: 0.9em;
    padding-left: 2px;
  }

  &::-moz-placeholder:after {
    content: "*";
    color: lighten($red, 25%);
    font-size: 0.9em;
    padding-left: 2px;
  }

  &:-ms-input-placeholder:after {
    content: "*";
    color: lighten($red, 25%);
    font-size: 0.9em;
    padding-left: 2px;
  }
}

.better-placeholder {
  @extend %background-blue;
  @extend %color-white;
  @extend %transition-all;
  @include rem(right, 8px);
  @include rem(top, 8px);
  @include rem(line-height, 24px);
  @include font-size(14px);
  @include padding(0, 4px);
  border-radius: 4px;
  opacity: 1.0;
  position: absolute;
  visibility: visible;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.button-wrapper {
  @extend %clearfix;
  @extend %text-align-center;
  display: block;
}

.button {
  @extend %color-white;
  @extend %background-blue;
  @extend %text-align-center;
  @extend %transition-all;
  @include padding(8px, 16px);
  border: none;
  border-radius: 4px;

  @include hover {
    background: lighten($blue, 10%);
    text-decoration: none;
  }
}

.lg-button {
  @extend .button;
  @include padding(16px, 36px);
  display: block;
  margin: 0 auto;
}

.alert-error {
  @include rem(margin-bottom, 16px);
}

.field_with_errors {
  @include rem(padding-top, 24px);
  position: relative;
}

.error {
  @include font-size(14px);
  color: $red;
  left: 0;
  position: absolute;
  top: 0;
}
