.modal-wrapper {
  opacity: 0;
  visibility: hidden;

  &.fade-in {
    @extend %fade-in;
  }

  &.fade-out {
    @extend %fade-out;
  }
}

.modal-background {
  @extend %use-gpu;
  @extend %cursor-pointer;
  background: #000;
  background: rgba(0,0,0,0.75);
  display: block;
  height: 100%;
  left: 0;
  padding: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.modal {
  @extend %cursor-default;
  background: #fff;
  border-radius: 5px;
  max-height: 80%;
  max-width: 80%;
  overflow: auto;
  padding: 18px;
  position: absolute;
  top: 10%;
  z-index: 100;

  @include transform(translate3d(35px,0,0));
  @include transition(all 0.2s ease-in-out);
  opacity: 0;

  .fade-in & {
    @include transition(all 0.2s 0.1s ease-in-out);
    @include transform(translate3d(0,0,0));
    opacity: 1.0;
  }

  .fade-out & {
    @include transform(translate3d(0,0,0));
  }
}

.close-modal {
  @extend %transition-all;
  @extend %text-align-center;
  @extend %color-white;
  background: $dk_blue;
  background: transparentize($dk_blue, 0.5);
  font-size: 24px;
  height: 24px;
  line-height: 1;
  position: absolute;
  right: 18px;
  text-decoration: none;
  top: 18;
  width: 24px;

  @include hover {
    background: $dk_blue;
    text-decoration: none;
  }
}
