.browsehappy,
.no-js-warning {
  @extend %text-align-center;
  background: $red;
  color: $white;
  padding: 0.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.js .no-js-warning {
  display: none;
}

.warning-link {
  @extend %color-white;
  text-decoration: underline;
}