.browsehappy,
.no-js-warning {
  @extend %text-align-center;
  @extend %color-white;
  background: $red;
  left: 0;
  padding: 0.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

body.bidding-over {
  @include rem(margin-top, 55px);
}

.bidding-over-alert {
  @extend %text-align-center;
  @extend %background-blue;
  @extend %color-white;
  @include padding(16px, 8px);
  box-shadow: 0 2px 2px rgba(0,0,0,0.25);
  display: none;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  .bidding-over & {
    display: block;
  }
}

.js .no-js-warning {
  display: none;
}

.flexbox.pushstate .browsehappy {
  display: none;
}

.warning-link {
  @extend %color-white;
  text-decoration: underline;
}
