*, *:before, *:after {
 @extend %border-box;
}

html {
  font-size: 100%;
}

@media only screen and (min-width: 80.000em) {
  html {
    font-size: 112.5%;
  }
}

body {
  @extend %color-black;
  -webkit-font-smoothing: antialiased;
  font: 300 100%/1.45 "Roboto", "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

a {
  color: $red;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  @include font-size(45px);
  font-weight: 300;
}
