*, *:before, *:after {
 @extend %border-box;
}

html {
  font-size: 100%;
  overflow-y: scroll;
}

@media only screen and (min-width: 80.000em) {
  html {
    font-size: 112.5%;
  }
}

body {
  @extend %color-dkblue;
  background: $lt_gray_alt;
  -webkit-font-smoothing: antialiased;
  font: 300 100%/1.5 "Roboto", "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

.main-content-wrapper {
  @extend %background-white;
}

a {
  color: $red;
  text-decoration: none;

  @include hover {
    text-decoration: underline;
  }
}

h1 {
  @include font-size(45px);
  @include rem(margin-top, 36px);
  @include rem(margin-bottom, 36px);
  font-weight: 300;
}

h2 {
  @include font-size(36px);
  @include rem(margin-top, 16px);
  @include rem(margin-bottom, 16px);
}

h3 {
  @include font-size(24px);
  @include rem(margin-top, 16px);
  @include rem(margin-bottom, 13px);
}

h4 {
  @include font-size(16px);
  @include rem(margin-top, 16px);
  @include rem(margin-bottom, 16px);
}

h5 {
  @include font-size(13px);
  margin: 0;
}

p {
  @include rem(margin-top, 16px);
  @include rem(margin-bottom, 16px);
}
