@mixin retina {
  @media print,
  (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
    @content;
  }
}

@mixin hover {
  .hover & {
    &:hover {
      @content;
    }
  }
}

@mixin background-size($size) {
  -webkit-background-size: $size;
     -moz-background-size: $size;
          background-size: $size;
}

@mixin background-image($url, $size, $position:0 0, $color:transparent, $repeat:no-repeat) {
  background: $color url('#{$url}.png') $position $repeat;
  @include background-size($size);
  @include retina {
    background-image: url('#{$url}@2x.png');
  }
}

@function calc-rem($size) {
  @if $size == 0 {
    @return 0;
  } @else {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
  }
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calc-rem($size);
}

@mixin line-height($size) {
  line-height: $size;
  line-height: calc-rem($size);
}

@mixin padding($top, $right: null, $bottom: null, $left: null) {
  @if $right == null and $bottom == null and $left == null {
    padding: $top;
    padding: calc-rem($top); }
  @if $right != null and $bottom == null and $left == null {
    padding: $top $right;
    padding: calc-rem($top) calc-rem($right); }
  @if $right != null and $bottom != null and $left == null {
    padding: $top $right $bottom;
    padding: calc-rem($top) calc-rem($right) calc-rem($bottom); }
  @if $right != null and $bottom != null and $left != null {
    padding: $top $right $bottom $left;
    padding: calc-rem($top) calc-rem($right) calc-rem($bottom) calc-rem($left); }
}

@mixin rem($property, $value) {
  #{$property}: $value;
  #{$property}: calc-rem($value);
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @-ms-keyframes $animation-name {
    @content;
  }
  @-o-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
     -moz-animation: #{$str};
      -ms-animation: #{$str};
       -o-animation: #{$str};
          animation: #{$str};
}

@mixin opacity($opacity) {
  $opacity-ie: $opacity * 100;

  opacity: $opacity;
  filter: alpha(opacity=$opacity-ie);
  zoom: 1;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
      -ms-transition: $args;
       -o-transition: $args;
          transition: $args;
}

@mixin transform($params) {
  -webkit-transform: $params;
     -moz-transform: $params;
          transform: $params;
}

%transition-all {
  @include transition(all 0.2s ease-in-out);
}

%fade-in {
  @include transition(opacity 0.5s ease-in-out);
  @include opacity(1.0);
}

%fade-out {
  @include transition(opacity 0.5s ease-in-out);
  @include opacity(0);
}

%clearfix {
  zoom: 1;

  &:before {
    content: " ";
    display: table;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

%visuallyhidden {
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

%display-block { display: block; }

%display-inline-block { display: inline-block; }

%display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -mx-flexbox;
  display: -webkit-flex;
  display: flex;
}

%float-left { float: left; }
%float-right { float: right; }

%cursor-pointer { cursor: pointer; }
%cursor-default { cursor: default; }

%color-black { color: $black; }
%color-dkblue { color: $dk_blue; }
%color-white { color: $white; }

%background-white { background: $white; }
%background-ltgray { background: $lt-gray; }
%background-gray { background: $gray; }
%background-dkblue { background: $dk-blue; }
%background-blue { background: $blue; }
%background-black { background: $black; }

%text-align-center { text-align: center; }
%text-align-left { text-align: left; }
%text-align-right { text-align: right; }

%bold { font-weight: bold; }

%border-box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

%content-box {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

%use-gpu {
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
       -o-transform: translateZ(0);
          transform: translateZ(0);

  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
          backface-visibility: hidden;

  -webkit-perspective: 1000;
     -moz-perspective: 1000;
      -ms-perspective: 1000;
          perspective: 1000;
}
